body {
    background: #222;
    color: #ddd;
    font-family: snas-serif;
    max-width: 700px;
    margin: 2rem auto;
    padding: 0 1rem;
}

a {
    color: #33ccff;
}

header, footer {
    text-align: center;
}