@font-face {
    font-family: 'glacialindifference';
    src: url('../fonts/GlacialIndifference-Regular.otf');
    font-weight: 300;
}

p.poem {
    color: #ddffeedd;
    font-family: 'glacialindifference';
    font-size: 18px;
    letter-spacing: 1.25px;
    line-height: 150%;
    margin: 0px;
    padding: 30px;
    text-shadow: 0px 5px 5px rgba(0,0,0,1);
}